.feature {
	width: 320px;
	height: auto;
}

.feature h2 {
	margin-bottom: 6px;
}

.feature-container {
	width: 320px;
	height: auto;
	border-radius: 8px;
	overflow:hidden; 
}

.feature .fc-cell {
	width: 320px;
	height: 46px;
	background-color: #e7e6e9;
	margin-bottom: 2px;
}

.feature .fc-cell img {
	width: 24px;
	height: 24px;
	margin: 11px 0 0 16px;
}

.feature .fc-cell p {
	color: #0f0a28;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
}