.liveStream {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
}

.liveStream-loading {
	margin-left: 30px;
}

.liveStream-video {
	width: 100%;
	height: auto;
}

.liveStream-video .ls-loadmore {
	color: #1496bc;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
}

.liveStream-container {
	width: 100%;
	height: auto;
	margin-top: 20px;

	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 9px;
}
