.pulse {
	width: 100%;
	height: auto;
}

.pulseLoading {
	margin-left: 30px;
}

.pulse-container {
	width: 100%;
	height: auto;

	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

